{% extends "base.html" %}


{% block content %}
<div class="form-block">

    <h2>Fill the details</h2>
    <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
        <div class="form-group row">
            {{ form.hidden_tag() }}
            <div class="form-check col-sm-3">
                {{ form.gender.label }}<br>
                {% for subfield in form.gender %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                {% endfor %}
                {% for error in form.gender.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-sm-2">
                {{ form.age.label }}<br>
                {{ form.age(size=2,class_="form-control") }}<br>
                {% for error in form.age.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-sm-2">
                {{ form.smoker.label }}<br>
                {{ form.smoker(class_="form-control") }}<br>
                {% for error in form.smoker.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-sm-2">
                {{ form.diabetic.label }}<br>
                {{ form.diabetic(class_="form-control") }}<br>
                {% for error in form.diabetic.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-md-4">
                {{ form.cig_count.label }}<br>
                {{ form.cig_count(class_="form-control") }}<br>
                {% for error in form.cig_count.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-sm-3">
                {{ form.height.label }}<br>
                {{ form.height(class_="form-control") }}<br>
                {% for error in form.height.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-sm-3">
                {{ form.weight.label }}<br>
                {{ form.weight(class_="form-control") }}<br>
                {% for error in form.weight.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group col-sm-3">
                {{ form.bp.label }}<br>
                {{ form.bp(class_="form-control") }}<br>
                {% for error in form.bp.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">{{ form.submit(class_="btn btn-primary") }}</div>
    </form>
</div>
<div>
    {% if value %}
        {% if value[1] == 0 %}
                <div class="alert alert-success" role="alert">
                  Low Risk Level!
                </div>
        {% else %}
                <div class="alert alert-danger" role="alert">
                  High Risk Level!
                </div>
        {% endif %}

    {% endif %}
</div>
{% endblock %}

